.sui-nav {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
}

.sui-nav li a {
    display: block;
    cursor: pointer;
}

.sui-nav li a:hover,
.sui-nav li a:focus {
    text-decoration: none;
    background-color: #eeeeee;
    outline: 0;
}

.sui-nav img {
    max-width: none;
}

.sui-nav .pull-right {
    float: right;
}

.sui-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.sui-nav li + .nav-header {
    margin-top: 9px;
}

.sui-nav.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.sui-nav.nav-list li a,
.sui-nav.nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.sui-nav.nav-list li a {
    padding: 3px 15px;

}

.sui-nav.nav-list .active a,
.sui-nav.nav-list .active a:hover,
.sui-nav.nav-list .active a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #518594;
}

.sui-nav.nav-list [class^="icon-"],
.sui-nav.nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.sui-nav.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 8px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.sui-nav.nav-list.nav-large .nav-header {
    padding: 4px 13px;
}

.sui-nav.nav-list.nav-xlarge .nav-header {
    padding: 6px 16px;
    font-size: 16.1px;
}

.sui-nav.nav-tabs:before,
.sui-nav.nav-pills:before,
.sui-nav.nav-tabs:after,
.sui-nav.nav-pills:after {
    display: table;
    content: "";
    line-height: 0;
}

.sui-nav.nav-tabs:after,
.sui-nav.nav-pills:after {
    clear: both;
}

.sui-nav.nav-tabs li,
.sui-nav.nav-pills li {
    float: left;
}

.sui-nav.nav-tabs li a,
.sui-nav.nav-pills li a {
    padding-right: 12px;
    padding-left: 12px;
    line-height: 14px;
}

.sui-nav li a {
    padding: 2px 10px;
}

.sui-nav.nav-large li a {
    padding: 4px 13px;
}

.sui-nav.nav-xlarge li a {
    padding: 6px 16px;
    font-size: 16.1px;
}

.sui-nav.nav-tabs {
    border-bottom: 1px solid #dddddd;
    padding-left: 5px;
}

.sui-nav.nav-tabs li {
    margin-bottom: -1px;
}

.sui-nav.nav-tabs li a {
    color: #666666;
    line-height: 18px;
    border: 1px solid transparent;
    *border: 0;
    *float: left;

}

.sui-nav.nav-tabs li a:hover {
    background-color: transparent;
}

.sui-nav.nav-tabs li + li {
    margin-left: 9px;
}

.sui-nav.nav-tabs li + li a {
    margin-left: -1px;
}

.sui-nav.nav-tabs .active {
    border-bottom: 0;
}

.sui-nav.nav-tabs .active a {
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}

.sui-nav.nav-tabs .active a:hover {
    background-color: #ffffff;
}

.sui-nav.nav-tabs .active a,
.sui-nav.nav-tabs li a:hover {
    color: #518594;
}

/**/
.sui-nav.nav-tabs.tab-vertical {
    border-bottom: none;
    width: 100px;
    display: inline-block;
    padding-left: 0;
}
.sui-nav.nav-tabs.tab-vertical li {
    float: none;
    margin: 5px 0;
}

.sui-nav.nav-tabs.tab-vertical li.active a {
    border: 0;
    background-color: #305895;
    color: #fff;
}

.sui-nav.nav-tabs.tab-vertical li a {
    border: 0;
    background-color: #EEEEEE;
    display: block;
}


/**/
.sui-nav.nav-tabs.nav-default {
    border-bottom: 2px solid #2f5895;
}

.sui-nav.nav-tabs.nav-default a {
    border-color: #BBD4E8;
    color: #000;
    background: #fff;
}

.sui-nav.nav-tabs.nav-default .active a {
    border-color: #2f5895;
    color: #000;
    background: #fff;
}
/**/



.sui-nav.nav-tabs.nav-primary {
    border-bottom: 2px solid #518594;
}

.sui-nav.nav-tabs.nav-primary li {
    margin-bottom: -2px;
}

.sui-nav.nav-tabs.nav-primary .active a {
    border-color: #518594;
    color: #ffffff;
    background: #518594;
}

.sui-nav.nav-tabs.nav-primary.tab-vertical {
    border-right: 2px solid #518594;
    border-bottom: 0;
}

.sui-nav.nav-tabs.nav-primary.tab-vertical .active a {
    border: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.sui-nav.nav-tabs.nav-primary.tab-vertical li {
    margin-bottom: 0;
}

.sui-nav.nav-tabs.nav-pills {
    border-bottom: 2px solid #518594;
    border-bottom: 0;
    padding-left: 0;
}

.sui-nav.nav-tabs.nav-pills li {
    margin-bottom: -2px;
}

.sui-nav.nav-tabs.nav-pills .active a {
    border-color: #518594;
    color: #ffffff;
    background: #518594;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.sui-nav.nav-tabs.nav-pills.tab-vertical {
    border-right: 2px solid #518594;
    border-bottom: 0;
}

.sui-nav.nav-tabs.nav-pills.tab-vertical .active a {
    border: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.sui-nav.nav-tabs.nav-pills.tab-vertical li {
    margin-bottom: 0;
}

.sui-nav.nav-tabs.nav-pills li a,
.sui-nav.nav-tabs.nav-pills li.active a {
    border-radius: 3px;
    border: 0;
}

.sui-nav.nav-tabs.nav-pills li a:hover {
    background-color: #f1f1f1;
    color: #518594;
}

.sui-nav.nav-tabs.nav-pills li.active a:hover {
    background: #518594;
    color: #fff;
}

.sui-nav.nav-tabs.nav-pills.tab-vertical {
    border: 0;
}

.sui-nav.nav-tabs.nav-pills.tab-vertical .active a {
    border-radius: 3px;
}

.sui-nav.nav-tabs.nav-pills.tab-vertical li + li {
    margin-top: 9px;
}

.sui-nav.nav-tabs.tab-navbar {
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding-left: 0;
}

.sui-nav.nav-tabs.tab-navbar li {
    margin-bottom: 0;
    margin-left: 0;
}

.sui-nav.nav-tabs.tab-navbar li a {
    margin-left: 0;
    border-radius: 0;
    border: none;
}

.sui-nav.nav-tabs.tab-navbar li.active a {
    background: #518594;
    color: #fff;
    border-top: 1px solid #518594;
    margin-top: -1px;
    border-bottom: 1px solid #518594;
    margin-bottom: -1px;
}

.sui-nav.nav-tabs.tab-navbar li:first-child a {
    border-radius: 3px 0 0 3px;
}

.sui-nav.nav-tabs.tab-navbar li:last-child a {
    border-radius: 0 3px 3px 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-light li.active a {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-light li.active a,
.sui-nav.nav-tabs.tab-navbar.tab-light li a:hover {
    background-color: #f3f3f3;
    color: #666;
}

.sui-nav.nav-tabs.tab-navbar.tab-light li + li a {
    border-left: 1px solid #dddddd;
}

.sui-nav.nav-tabs.tab-navbar.tab-light.tab-vertical li {
    margin: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-light.tab-vertical li a,
.sui-nav.nav-tabs.tab-navbar.tab-light.tab-vertical li:first-child a {
    border: 0;
    margin: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-light.tab-vertical li:last-child a {
    border: 0;
    margin: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-light.tab-vertical li.active a {
    border-bottom: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-light.tab-vertical li + li a {
    border-top: 1px solid #dddddd !important;
}

.sui-nav.nav-tabs.tab-navbar.tab-vertical li {
    margin-left: -1px;
    margin-right: -1px;
}

.sui-nav.nav-tabs.tab-navbar.tab-vertical li a {
    border: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-vertical li.active a {
    margin-top: 0;
    margin-bottom: 0;
}

.sui-nav.nav-tabs.tab-navbar.tab-vertical li:first-child a {
    border-radius: 3px 3px 0 0;
    margin-top: -1px;
}

.sui-nav.nav-tabs.tab-navbar.tab-vertical li:last-child a {
    border-radius: 0 0 3px 3px;
    margin-bottom: -1px;
}

.sui-nav.nav-tabs.tab-wraped {
    padding-left: 0;
    margin-bottom: 0;
    border: 1px solid #dddddd;
    border-top: 0;
}

.sui-nav.nav-tabs.tab-wraped li {
    margin-left: 0;
    width: 25%;
}

.sui-nav.nav-tabs.tab-wraped li a {
    color: #666666;
    padding: 20px;
    border-radius: 0;
    background: #fcfcfc;
    margin-left: 0;
    border: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.sui-nav.nav-tabs.tab-wraped li a:hover {
    background: #ffffff;
}

.sui-nav.nav-tabs.tab-wraped li + li a {
    border-left: 1px solid #dddddd;
}

.sui-nav.nav-tabs.tab-wraped li.active a {
    background: #ffffff;
    font-weight: normal;
    border-bottom: 1px solid #ffffff;
    border-top: 3px solid #518594;
    padding-top: 18px;
}

.sui-nav.nav-tabs.tab-wraped li h3 {
    text-align: center;
    color: #333333;
}

.sui-nav.nav-tabs.tab-wraped li ul {
    margin: auto;
}

.sui-nav.nav-tabs.tab-wraped li li {
    margin: 5px 0;
}

.sui-nav.nav-tabs.tab-wraped li strong {
    font-size: 120%;
    vertical-align: middle;
}

.sui-nav.nav-tabs.tab-wraped li label {
    color: #999999;
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
}

.sui-nav.nav-tabs.tab-wraped.column3 li {
    width: 33.333%;
}

.sui-nav.nav-tabs.tab-wraped.column5 li {
    width: 20%;
}

.sui-nav.nav-stacked li {
    float: none;
}

.sui-nav.nav-stacked li a {
    margin-right: 0;
}

.sui-nav.nav-tabs.nav-stacked {
    border-bottom: 0;
    padding-left: 0;
}

.sui-nav.nav-tabs.nav-stacked li {
    border: 1px solid #ddd;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f9f9f9;
    margin-left: 0;
}

.sui-nav.nav-tabs.nav-stacked li a {
    border: 0;
    margin-left: 0;
    background: none;
}

.sui-nav.nav-tabs.nav-stacked li:hover {
    background: #ffffff;
}

.sui-nav.nav-tabs.nav-stacked li.active {
    border-right: 2px solid #518594;
}

.sui-nav.nav-tabs.nav-stacked li a:hover,
.sui-nav.nav-tabs.nav-stacked li a:focus {
    border-color: #ddd;
    z-index: 2;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked {
    display: none;
    margin-bottom: 0;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li:hover {
    background: #ffffff;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li a {
    margin-left: 30px;
    color: #999999;
    position: static;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li.active a,
.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li:hover a {
    color: #518594;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li:first-child {
    border-top: 1px solid #ddd;
}

.sui-nav.nav-tabs.nav-stacked .nav-tabs.nav-stacked li:first-child a {
    border-top: 0;
}

.sui-nav.nav-tabs.nav-stacked li.active .nav-tabs.nav-stacked {
    display: block;
}

.sui-nav.nav-tabs.nav-stacked.nav-large .nav-tabs.nav-stacked li a {
    padding: 4px 13px;
}

.sui-nav.nav-tabs.nav-stacked.nav-xlarge .nav-tabs.nav-stacked li a {
    padding: 6px 16px;
}

.sui-nav.nav-pills.nav-stacked li a {
    margin-bottom: 3px;
}

.sui-nav.nav-pills.nav-stacked li:last-child a {
    margin-bottom: 1px;
}

.sui-nav.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.sui-nav.nav-pills .dropdown-menu {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret {
    margin-top: 8px;
}

.sui-nav .sui-dropdown.active a:hover,
.sui-nav .sui-dropdown.active a:focus {
    cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.sui-nav li.sui-dropdown.open.active a:hover,
.sui-nav li.sui-dropdown.open.active a:focus {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}