<!DOCTYPE html>
<html>
<head>
    <title>stbui 前端集成解决方案</title>
    <link rel="stylesheet" href="./framework/common/stbui.less">
    <script type="text/javascript" src="/lib/mod.js"></script>
    <style>
        body {
            font-size: 14px;
        }

        .navbar-default .logo a {
            font-size: 18px;
            font-weight: 900;
        }

        .navbar-default .logo.active {
            background: #fa8919;
        }

        .navbar-default .logo a:hover,
        .navbar-default .logo a:focus {
            color: #fff;
        }

        .aside {
            width: 60px;
        }
    </style>
</head>
<body>
<ul class="navbar navbar-default">
    <li class="logo active"><a href="./" target="_blank">STBUI 组件库</a></li>
    <li><a href="#" target="_blank">开始使用</a></li>
    <li><a href="#" target="_blank">样式</a></li>
    <li><a href="#" target="_blank">组件</a></li>
    <li><a href="#" target="_bla">场景</a></li>
    <li><a href="#" target="_blank">主题</a></li>
</ul>

<div class="wrapper">
    <div class="row">
        <div class="col2">
            <div class="aside">
                <ul>
                    <li><a href="page/table/index.html">table</a></li>
                    <li><a href="page/pagination/index.html">pagination</a></li>
                    <li><a href="page/list/index.html">list</a></li>
                    <li><a href="page/article/index.html">article</a></li>
                    <li><a href="page/badge/index.html">badge</a></li>
                    <li><a href="page/footer/index.html">footer</a></li>
                </ul>
            </div>
        </div>
        <div class="col10">
            <div class="content">
                1
            </div>
        </div>
    </div>

</div>


<script>
    var utilitie = require('framework/common/utilitie.js');
    //    utilitie.addFavorite();


</script>

</body>
</html>