.search {

}

.search-keywords {
    border: 1px solid #3A5E95;
    font-size: 14px;
    line-height: 1.4;
    padding: 6px 12px;

}

.search-btn {
}

/* page */
.search-keywords {
    width: 196px;
}

/*@import url("../dropdown/index.css?__inline");*/
