@import "../common/variables.less";

.@{stbui}dropdown {
  position: relative;
}

.@{stbui}dropdown-caption {

}

.@{stbui}dropdown-content {


  li {

    a {

    }

    &.active {
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: #3A5E95;
      cursor: pointer;

      a {
        color: #fff;
      }
    }

    &.disabled,
    &.disabled a,
    &.disabled a:hover {
      color: #999;
      cursor: not-allowed;
      text-decoration: none;
    }

  }

  .divider {
    clear: both;
    padding: 0;
    margin: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e5e5e5;
  }

}

.open .@{stbui}dropdown-content {
  display: block;
}