.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
.table thead tr th,
.table tbody tr th,
.table thead tr td,
.table tbody tr td {
    padding: 7px;
}
.table thead tr th {
    border-bottom: 1px solid #DCDCDC;
}
.table tbody tr td {
    text-align: center;
}
.table-hover tbody tr:hover {
    background-color: #ECEBEB;
}
.table-bordered {
    border: 1px solid #c9c9c9;
}
.table-bordered thead th,
.table-bordered thead td {
    background-color: #F2F2F2;
    color: #3c3c3c;
    line-height: 1.4;
    padding: 5px;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #c9c9c9;
}
.table-hover tbody tr td.default:hover,
.table-hover tbody tr.default:hover td,
.table-hover tbody tr:hover .default {
    background-color: #adc3e4;
}
.table tbody tr td.default,
.table tbody tr.default td {
    background-color: #adc3e4;
}
.table-default {
    border: 1px solid #305895;
}
.table-default thead th,
.table-default thead td {
    background-color: #adc3e4;
}
.table-default th,
.table-default td {
    border: 1px solid #305895;
}
.table-hover tbody tr td.primary:hover,
.table-hover tbody tr.primary:hover td,
.table-hover tbody tr:hover .primary {
    background-color: #ffdcce;
}
.table tbody tr td.primary,
.table tbody tr.primary td {
    background-color: #ffdcce;
}
.table-primary {
    border: 1px solid #ff4802;
}
.table-primary thead th,
.table-primary thead td {
    background-color: #ffdcce;
}
.table-primary th,
.table-primary td {
    border: 1px solid #ff4802;
}