.pagination {
    height: 36px;
    margin: 18px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;

}

.pagination li {
    display: inline;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a:hover, .pagination .active a {
    background-color: #f5f5f5;
}

.pagination .active a {
    color: #999999;
    cursor: default;
}

.pagination .disabled a, .pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination-default {

}

.pagination-default a {
    border: 1px solid #C8D8F2;
}

.pagination-default .active a {
    color: #fff;
    background-color: #286eb4;
}

.pagination-primary a {
    border: 1px solid #DFDFDF;
}

.pagination-primary .active a {
    color: #fff;
    background-color: #FF4400;
}
