.tag,
.badge {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    padding: 3px 7px;
    border-radius: 8px;
}
.tag-default {
    color: #305895;
    border: 1px solid #305895;
}
.badge-default {
    background-color: #305895;
}
.tag-primary {
    color: #ff4802;
    border: 1px solid #ff4802;
}
.badge-primary {
    background-color: #ff4802;
}
.tag-success {
    color: #008000;
    border: 1px solid #008000;
}
.badge-success {
    background-color: #008000;
}
.tag-warning {
    color: #FF9212;
    border: 1px solid #FF9212;
}
.badge-warning {
    background-color: #FF9212;
}
.badge-sm {
    border-radius: 50%;
    line-height: 24px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    margin: 0 5px;
    padding: 0;
}
.badge-md {
    border-radius: 50%;
    line-height: 28px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    margin: 0 5px;
    padding: 0;
}
.badge-lg {
    border-radius: 50%;
    line-height: 32px;
    width: 32px;
    height: 32px;
    font-size: 22px;
    margin: 0 5px;
    padding: 0;
}
