.panel-default {
    border-width: 0;
}

.panel-default .panel-head {
    border-width: 1px;

    color: #305895;
    background-color: #f5f5f5;
    border-color: #305895
}

.panel-default .panel-title {
    padding: 7.6px 10px;
    border-bottom: 2px solid #305895;
    _top: 0;
    _position: relative;
}

.panel-default .panel-head,
.panel-default .panel-title,
.panel-default .panel-title a {
    font-size: 14px;
    color: #305895;
}

.panel-default .panel-head {
    border-top-color: #305895
}

.panel-default .panel-footer {
    border-bottom-color: #305895
}

.panel-default .panel-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #305895
}